.login-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card {
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    min-width: 350px;
    max-width: 400px;
    width: 100%;
}
.login-logo {
    width: 64px;
    height: 64px;
}
.login-title {
    font-weight: 700;
}



.register-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-card {
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    min-width: 350px;
    max-width: 400px;
    width: 100%;
}
.register-logo {
    width: 64px;
    height: 64px;
}
.register-title {
    font-weight: 700;
}